<h1 mat-dialog-title>Nueva Noticia</h1>
<div mat-dialog-content>

	<form class="example-form">
		
		<mat-form-field class="example-full-width" style="padding-right: 20px;">
			<input name="titulo" type="text" matInput placeholder="Titulo">
		</mat-form-field>
		<br>
		<mat-form-field class="example-full-width">
			<textarea name="Descripcion"  type="text" matInput placeholder="Descripcion"></textarea>
		</mat-form-field>
		<br>
		<mat-form-field class="example-full-width" style="padding-right: 20px;">
			<input name="date" type="date" matInput placeholder="Fecha">
		</mat-form-field>
		
		<mat-form-field class="example-full-width">
			<input name="imagen" type="file" matInput placeholder="Imagen">
		</mat-form-field>

	</form>

</div>

<div mat-dialog-actions style="padding-left: 48%;" >
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button>Registrar</button>
</div>
