<div class="container-fluid">
  <div class="row">
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Noticias</h1>

      <button (click)="openDialog()" type="button" class="btn btn-success">Nueva noticia</button>

      <h3 class="page-header">Lista</h3>
      <table class="table table-hover">
        <thead>
          <tr>
          	<th scope="col">Imagen</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          	<td><img src="http://www.petpaw.com.au/wp-content/uploads/2014/03/Beagle-1.jpg" width="100" height="80"></td>
            <td>Mascota perdida</td>
            <td>Si alguien ha visto a doggy, favor de reportarlo</td>
            <td>24-07-2018</td>
            <td>
              <button type="button" class="btn btn-warning">Editar</button>
              <button type="button" class="btn btn-danger">Borrar</button>
            </td>
          </tr>

          <tr>
          	<td><img src="https://upload.wikimedia.org/wikipedia/commons/a/a8/BOG_Costado_occidental_del_Parque_de_la_93.jpg" width="100" height="80"></td>
            <td>Junta mensual en el parque central</td>
            <td>Favor de asistir a la junta de comite este sabado a las 9:00AM para tratar asuntos de seguridad</td>
            <td>12-06-2018</td>
            <td>
              <button type="button" class="btn btn-warning">Editar</button>
              <button type="button" class="btn btn-danger">Borrar</button>
            </td>
          </tr>

        </tbody>
      </table>

      
    </div>

  </div>

</div>

  