<h1 mat-dialog-title>Registro de pago</h1>
<div mat-dialog-content>

	<form class="example-form">
		
		<mat-form-field>
		  <mat-select placeholder="Casa" name="usuario">
		    <mat-option *ngFor="let casa of casas" [value]="casa.intNoCasa">
		      {{ casa.intNoCasa }}
		    </mat-option>
		  </mat-select>
		</mat-form-field>
		
		<mat-form-field class="example-full-width">
			<input name="modelo" type="number" matInput placeholder="Monto">
		</mat-form-field>

	</form>

</div>

<div mat-dialog-actions style="padding-left: 48%;" >
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="pagar()">Registrar</button>
</div>
