<h1 mat-dialog-title>Nueva cuota</h1>
<div mat-dialog-content>

	<form class="example-form">
		
		<mat-form-field class="example-full-width" style="padding-right: 20px;">
			<input name="date" type="date" matInput>
		</mat-form-field>
		
		<mat-form-field class="example-full-width">
			<input name="modelo" type="number" matInput placeholder="Monto">
		</mat-form-field>

	</form>

</div>

<div mat-dialog-actions style="padding-left: 48%;" >
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button>Registrar</button>
</div>
