<div class="container-fluid">
  <div class="row">
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Pagos</h1>

      <div class="row">
        <div class="col-md-2" style="padding-right: 2px;">
          <button (click)="openDialog()" type="button" class="btn btn-danger">Nueva cuota</button>
        </div>
        <div class="col-md-2">
          <button (click)="openDialog2()" type="button" class="btn btn-success">Registrar pago</button>
        </div>
      </div>
      <br>
      <mat-tab-group>
        <mat-tab label="Cuotas registradas">

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Mes/Año</th>
                <th scope="col">Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cuota of cuotas">
                <td>{{ cuota.intMes }}/{{ cuota.intAno }}</td>
                <td>{{ cuota.doubleMonto | currency }}</td>
              </tr>
            </tbody>
          </table>
          
        </mat-tab>
        <mat-tab label="Pagos registrados">

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Cuota</th>
                <th scope="col">Fecha de pago</th>
                <th scope="col">Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1/2018</td>
                <td>30-01-2018</td>
                <td>$350.00</td>
              </tr>
              <tr>
                <td>2/2018</td>
                <td>01-02-2018</td>
                <td>$350.00</td>
              </tr>
              <tr>
                <td>3/2018</td>
                <td>01-03-2018</td>
                <td>$350.00</td>
              </tr>
              <tr>
                <td>4/2018</td>
                <td>04-04-2018</td>
                <td>$350.00</td>
              </tr>
              <tr>
                <td>5/2018</td>
                <td>02-05-2018</td>
                <td>$350.00</td>
              </tr>
            </tbody>
          </table>
          
        </mat-tab>
      </mat-tab-group>

    </div>

  </div>

</div>

  