<div class="container-fluid">
  <div class="row">
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Casas</h1>

      <button (click)="openDialog()" type="button" class="btn btn-success">Nueva casa</button>

      <h3 class="page-header">Lista</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">No. casa</th>
            <th scope="col">Modelo</th>
            <th scope="col">Calle</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let casa of casas">
            <td>{{ casa.intNoCasa }}</td>
            <td>{{ casa.strModelo }}</td>
            <td>{{ casa.strCalle }}</td>
            <td>
              <button type="button" class="btn btn-warning">Editar</button>
              <button type="button" class="btn btn-danger">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>

      
    </div>

  </div>

</div>

  