<h1 mat-dialog-title>Registro de casa</h1>
<div mat-dialog-content>

	<form class="example-form">
		
		<mat-form-field class="example-full-width" style="padding-right: 20px;">
			<input name="noCasa" [(ngModel)]="noCasa" type="number" matInput placeholder="Numero de casa">
		</mat-form-field>
		
		<mat-form-field class="example-full-width">
			<input name="modelo" [(ngModel)]="modelo" type="text" matInput placeholder="Modelo">
		</mat-form-field>

		<mat-form-field class="example-full-width" style="padding-right: 20px;">
			<input name="calle" [(ngModel)]="calle" type="text" matInput placeholder="Calle">
		</mat-form-field>

	</form>

</div>

<div mat-dialog-actions style="padding-left: 48%;" >
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="registerCasa()">Registrar</button>
</div>
