<div class="wrapper">
	<form class="form-signin">    
		<div class="row" style="padding-bottom: 10px;">
			<div class="col-md-12">
				<img class="center-block" src="../../assets/logo.png" width="40%" height="40%">
			</div> 
		</div>  
	  <h2 class="form-signin-heading">Login</h2>
	  <br>
	  <input [(ngModel)]="email" type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
	  <br>
	  <input [(ngModel)]="password" type="password" class="form-control" name="password" placeholder="Password" required=""/> 
	  <br>
	  <!--     
	  <label class="checkbox">
	    <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
	  </label>
		-->
	  <button (click)="logIn()" class="btn btn-lg btn-primary btn-block" type="submit">Inicia Sesión</button>   
	</form>
</div>
<!--
	[(ngModel)]="password"
	[routerLink]="['/dashboard']"
	-->
