<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">{{ title }}  {{ description }}</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="userLogged">
          <a><b>Bienvenido</b> {{ userName }}
            <b *ngIf="isAdmin" style="color: #ff66cc"> (admin)</b>
            <b *ngIf="!isAdmin" style="color: lime"> (user)</b>
          </a>
        </li>
        <li *ngIf="userLogged" (click)="logOut()" style="cursor: pointer;"><a>Cerrar Sesión</a></li>
      </ul>
    </div>

  </div>
</nav>


<div class="col-sm-3 col-md-2 sidebar" *ngIf="userLogged">
  <ul class="nav nav-sidebar">
    <li class="active"><a [routerLink]="['/dashboard']">Dashboard<span class="sr-only">(current)</span></a></li>
    <li><a [routerLink]="['/casas']">Casas</a></li>
    <li><a [routerLink]="['/usuarios']">Usuarios</a></li>
    <li><a [routerLink]="['/pagos']">Pagos</a></li>
    <li><a [routerLink]="['/noticias']">Noticias</a></li>
  </ul>
</div>

<router-outlet></router-outlet>


