<h1 mat-dialog-title>Registro de usuario</h1>
<div mat-dialog-content>

	<form class="example-form">
		
		<mat-form-field class="example-full-width" style="padding-right: 20px;">
			<input name="nombre" [(ngModel)]="nombre" type="text" matInput placeholder="Nombre(s)">
		</mat-form-field>
		
		<mat-form-field class="example-full-width">
			<input name="paterno" [(ngModel)]="aPat" type="text" matInput placeholder="Apellido Paterno">
		</mat-form-field>

		<mat-form-field class="example-full-width" style="padding-right: 20px;">
			<input name="materno" [(ngModel)]="aMat" type="text" matInput placeholder="Apellido Materno">
		</mat-form-field>
		
		<mat-form-field>
		  <mat-select placeholder="Casa" name="casa" [(ngModel)]="noCasa">
		    <mat-option *ngFor="let casa of casas" [value]="casa.intNoCasa">
		      {{ casa.intNoCasa }}
		    </mat-option>
		  </mat-select>
		</mat-form-field>
		
		<mat-form-field class="example-full-width" style="padding-right: 20px;">
			<input name="email" [(ngModel)]="email" matInput type="email" placeholder="Email">
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<input name="telefono" [(ngModel)]="telefono" matInput type="tel" placeholder="Telefono">
		</mat-form-field>

		<mat-form-field class="example-full-width" style="padding-right: 20px;">
			<input name="password" [(ngModel)]="password" matInput type="password" placeholder="Password">
		</mat-form-field>

		<mat-form-field class="example-full-width" style="padding-bottom: 20px;">
			<input name="password2" [(ngModel)]="password2" matInput type="password" placeholder="Repite password">
		</mat-form-field>

		<mat-slide-toggle name="admin" [(ngModel)]="admin">Admin</mat-slide-toggle>

	</form>

</div>

<div mat-dialog-actions style="padding-left: 48%;" >
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="registerUser()">Registrar</button>
</div>
