<div class="container-fluid">
  <div class="row">
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Usuarios</h1>

      <button *ngIf="admin" (click)="openDialog()" type="button" class="btn btn-success">Nuevo usuario</button>

      <h3 class="page-header">Lista</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">No. Casa</th>
            <th scope="col">Correo</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.strNombre }} {{ user.strApat }} {{ user.strAmat }}</td>
            <td>{{ user.intNoCasa }}</td>
            <td>{{ user.strEmail }}</td>
            <td>{{ user.intTelefono }}</td>
            <td>
              <button type="button" class="btn btn-warning">Editar</button>
              <button type="button" class="btn btn-danger">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>

      
    </div>

  </div>

</div>

  